{% extends 'base.html' %}
{% load static %}
{% block forms %}
    <div class="container">
        <div class="row">
            <form method="get" action="{% url 'rec-final' iNumPeople=numPeople %}">
                <h1>Person 1</h1>
                <br>
                <div id="person1">
                    <label for="cost1">Price Range</label>
                    <select id="cost1" name="cost1">
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                        <option value="4">$$$$</option>
                    </select>
                    <br>
                    <h3>What sounds good right now? (check all that apply)</h3>
                    
                        {% for cuisine in allCuisines %}
                            <label for="{{ cuisine }}">{{ cuisine }} </label>
                            <input type="checkbox" id='{{ cuisine }}' name="cuisine1" value="{{ cuisine }}">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        {% endfor %}

                    <br><br>
                    <label for="rating1">Please select the minimum rating for the restaurant (based on google reviews) &nbsp;</label>
                    <select id="rating1" name="rating1">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br>
                </div>

                <h1>Person 2</h1>
                <br>
                <div id="person2">
                    <label for="cost2">Price Range</label>
                    <select id="cost2" name="cost2">
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                        <option value="4">$$$$</option>
                    </select>
                    <br>
                    <h3>What sounds good right now? (check all that apply)</h3>
                    
                        {% for cuisine in allCuisines %}
                            <label for="{{ cuisine }}">{{ cuisine }} </label>
                            <input type="checkbox" id='{{ cuisine }}' name="cuisine2" value="{{ cuisine }}">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        {% endfor %}

                    <br><br>
                    <label for="rating2">Please select the minimum rating for the restaurant (based on google reviews) &nbsp;</label>
                    <select id="rating2" name="rating2">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br>
                </div>

                <h1>Person 3</h1>
                <br>
                <div id="person3">
                    <label for="cost3">Price Range</label>
                    <select id="cost3" name="cost3">
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                        <option value="4">$$$$</option>
                    </select>
                    <br>
                    <h3>What sounds good right now? (check all that apply)</h3>
                    
                        {% for cuisine in allCuisines %}
                            <label for="{{ cuisine }}">{{ cuisine }} </label>
                            <input type="checkbox" id='{{ cuisine }}' name="cuisine3" value="{{ cuisine }}">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        {% endfor %}

                    <br><br>
                    <label for="rating3">Please select the minimum rating for the restaurant (based on google reviews) &nbsp;</label>
                    <select id="rating3" name="rating3">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br>
                </div>

                <h1>Person 4</h1>
                <br>
                <div id="person4">
                    <label for="cost4">Price Range</label>
                    <select id="cost4" name="cost4">
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                        <option value="4">$$$$</option>
                    </select>
                    <br>
                    <h3>What sounds good right now? (check all that apply)</h3>
                    
                        {% for cuisine in allCuisines %}
                            <label for="{{ cuisine }}">{{ cuisine }} </label>
                            <input type="checkbox" id='{{ cuisine }}' name="cuisine4" value="{{ cuisine }}">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        {% endfor %}

                    <br><br>
                    <label for="rating4">Please select the minimum rating for the restaurant (based on google reviews) &nbsp;</label>
                    <select id="rating4" name="rating4">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br>
                </div>

                <h1>Person 5</h1>
                <br>
                <div id="person5">
                    <label for="cost5">Price Range</label>
                    <select id="cost5" name="cost5">
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                        <option value="4">$$$$</option>
                    </select>
                    <br>
                    <h3>What sounds good right now? (check all that apply)</h3>
                    
                        {% for cuisine in allCuisines %}
                            <label for="{{ cuisine }}">{{ cuisine }} </label>
                            <input type="checkbox" id='{{ cuisine }}' name="cuisine5" value="{{ cuisine }}">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        {% endfor %}

                    <br><br>
                    <label for="rating5">Please select the minimum rating for the restaurant (based on google reviews) &nbsp;</label>
                    <select id="rating5" name="rating5">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br>
                </div>

                <h1>Person 6</h1>
                <br>
                <div id="person6">
                    <label for="cost6">Price Range</label>
                    <select id="cost6" name="cost6">
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                        <option value="4">$$$$</option>
                    </select>
                    <br>
                    <h3>What sounds good right now? (check all that apply)</h3>
                    
                        {% for cuisine in allCuisines %}
                            <label for="{{ cuisine }}">{{ cuisine }} </label>
                            <input type="checkbox" id='{{ cuisine }}' name="cuisine6" value="{{ cuisine }}">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        {% endfor %}

                    <br><br>
                    <label for="rating6">Please select the minimum rating for the restaurant (based on google reviews) &nbsp;</label>
                    <select id="rating6" name="rating6">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br>
                </div>
                <button type="submit" >Submit</button>
            </form>
        </div>
    </div>
{% endblock %}